@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700); //Reset CSS for all the sub elements of main class .mb_elegantModal>* {
background: none;
border: none;
bottom: auto;
clear: none;
cursor: default;
float: none;
font-family: Arial,
Helvetica,
sans-serif;
font-size: medium;
font-style: normal;
font-weight: normal;
height: auto;
left: auto;
letter-spacing: normal;
line-height: normal;
max-height: none;
max-width: none;
min-height: 0;
min-width: 0;
overflow: visible;
position: static;
right: auto;
text-align: left;
text-decoration: none;
text-indent: 0;
text-transform: none;
top: auto;
visibility: visible;
white-space: normal;
width: auto;
z-index: auto
}
.mb_elegantModal {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999999;
  opacity: 1;
  display: none
}
.mb_elegantModal>div {
  width: 500px;
  position: relative;
  margin: 8% auto;
  border-radius: 10px;
  background: #fff;
  padding: 40px;
  box-shadow: 8px 0px 20px 14px rgba(0, 0, 0, 0.08)
}
.mb_elegantModal .esp-logo {
  width: 100%;
  text-align: center
}
.mb_elegantModal h2 {
  font-family: 'Courgette', cursive;
  font-size: 32px;
  line-height: 2;
  text-align: center;
  text-transform: capitalize
}
.mb_elegantModal p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #777
}
.mb_elegantModal input[type="email"] {
  font-family: 'Titillium Web', sans-serif;
  width: 80%;
  padding: 10px;
  text-align: center;
  margin: auto;
  display: block;
  font-size: 16px;
  border: 1px solid
}
.mb_elegantModal .mb_elegantpopupbutton {
  font-family: 'Titillium Web', sans-serif;
  display: block;
  margin: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  background: #2785C8;
  color: #FFF;
  border: 0px none;
  outline: 2px solid #2785C8;
  width: 85%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out
}
.mb_elegantModal .mb_elegantpopupbutton:hover {
  background: #52A9E7
}
.mb_elegantModal .mb_elegantpopupbutton:active {
  background: #fff
}
.mb_elegantModalclose {
  position: absolute;
  right: 12px;
  top: 16px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  cursor: pointer
}
.mb_elegantModalclose:hover {}
.mb_elegantModal a {
  font-size: 9px;
  margin: auto;
  display: block;
  text-align: center
}
.animated {
  visibility: visible !important
}
@media(max-width: 767px) {
  .mb_elegantModal {
    padding: 4px
  }
  
  .mb_elegantModal>div {
    width: 100%;
    padding: 58px 5px
  }
  
  .mb_elegantModal h2 {
    font-size: 25px
  }
  
  .mb_elegantModal p {
    font-size: 20px
  }
}
.mb_elegantModalclose {background-image:url(images/close.png);}
h2.top-title{ margin-top:0px !important; margin-bottom:0px !important; padding:0px !important}
p.success{ color:#093 !important;}
.dont-show .nothanks {
    margin-right: 5px;
}
.mb_elegantModal .mb_elegantpopupbutton{ width:80%; border-radius:0px;
-moz-border-radius:0px;-webkit-border-radius:0px;
}
.dont-show{ width:80%; margin:0 auto;}
                